mat-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  position: relative;
  border-radius: 20px;

  button {
    width: 100%;
    font-size: 1.2em;
  }

  p {
    margin-top: 40px;
    font-size: 2em;
    text-align: center;
    font-weight: lighter;
    line-height: 1.4em;
    font-family: "Gloria Hallelujah", cursive;
  }
  mat-spinner {
    margin-top: 60px;
    opacity: 40%;
  }
}
