header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .mat-toolbar.mat-primary {
    background-color: #424242;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a:link,
    a:visited {
      color: #ffffff;
      text-decoration: none;
      cursor: pointer;

      i {
        font-size: 1.4em;
      }
    }
    .social-icon {
      a {
        margin: 0 6px;
      }
    }
  }
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  .mat-toolbar.mat-primary {
    background-color: #424242;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      margin: 0 6px;
      color: #ee2662;
    }
  }
}
