:root {
  --background-color: #121214;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    137deg,
    rgba(28, 159, 147, 1) 0%,
    rgba(88, 255, 186, 1) 48%,
    rgba(178, 255, 174, 1) 100%
  );
}
